body {
  background: #121F26;
  color: #FFF;
  font-family: 'Armata', sans-serif;
  font-size: 16px;
  letter-spacing: .08em;
}

a {
  text-decoration: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* header */
.your-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.your-header a {
  color: #FFFFFF;
}

.your-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 63px;
}

.your-logo {
}

.your-logo a {
  display: flex;
  align-items: center;
  font-family: 'Pacifico',handwriting;
  font-size: 26px;
  line-height: 1;
  white-space: nowrap;
}

.your-logo img {
  max-height: 45px;
  display: inline-block;
  vertical-align: middle;
}

.your-logo img+span {
  margin-left: 10px;
}

.your-nav {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}

.your-nav a {
  padding: 10px 0;
  margin: 0 15px;
  font-size: 1.133em;
  font-weight: 700;
  color: #757575;
}

.your-nav a.active {
  color: #FFFFFF;
}


/* container */
.your-container {
  max-width: 1196px;
  width: 100%;
  margin: 0 auto;
}

.your-container-sm {
  margin-left: 330px;
  margin-right: 56px;
}

/* sidebox */
.sidebox {
  width: 290px;
  box-shadow: -4px 7px 15px 1px rgba(0,0,0,.2);
}

.widget-card {
  padding: 30px 20px 20px;
  background-color: #1FA184;
  text-align: center;
  color: #FFF;
}

.card-avatar img {
  width: 195px;
  height: 195px;
  border-radius: 50%;
  vertical-align: middle;
}

.card-info {
  margin-top: 33px;
}

.card-info h2 {
  font-size: 1.625em;
  margin-top: 0;
  margin-bottom: .688em;
}

.card-info p {
  margin-top: 0;
  color: inherit;
  opacity: .65;
  font-size: 1.143em;
}

.social-list a{
  margin: 5px 12px;
}

.social-list a img{
  width: 20px;
  height: 20px;
}

.widget-text {
  padding: 50px 20px;
  text-align: center;
}

.widget-text .link {
  color: #000;
  background-color: #DEC746;
  font-size: 15px;
  padding: 12px 35px;
  border-radius: 35px;
  border: 2px solid transparent;
  font-weight: 700;
}

/* footer */
.your-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

@font-face {
  font-family:'icomoon';
  src:url('../font/icomoon.ttf?3b2ao5') format('truetype');
  font-weight:normal;
  font-style:normal
}

/* button up */

.your-btn-up {
  right: 20px;
  bottom: 20px;
  position: fixed;
  width: 50px;
  height: 50px;
  /*display: none;*/
  color: #FFF;
  background-color: #1FA184;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  outline: none;
}

.icon-arrow-page-up {
  font-size: 32px;
  font-family: 'icomoon' !important;
}

.icon-arrow-page-up:before {
  content: "\e906";
}

/* svg */

#yourBgShape1, #yourBgShape2 {
  top: 0;
  position: fixed;
  z-index: -1;
}

#yourBgShape1 {
  left: 0;
}

#yourBgShape1 polygon {
  fill: #0F171B;
}

#yourBgShape2 {
  top: -100px;
  right: -100px;
}

#yourBgShape2 polygon {
  fill: #1FA184;
}
