body {
  background: #121F26;
  color: #FFF;
  font-family: 'Armata', sans-serif;
  font-size: 16px;
  letter-spacing: .08em;
}

a {
  text-decoration: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* header */
.your-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.your-header a {
  color: #FFFFFF;
}

.your-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 63px;
}

.your-logo {
}

.your-logo a {
  display: flex;
  align-items: center;
  font-family: 'Pacifico',handwriting;
  font-size: 26px;
  line-height: 1;
  white-space: nowrap;
}

.your-logo img {
  max-height: 45px;
  display: inline-block;
  vertical-align: middle;
}

.your-logo img+span {
  margin-left: 10px;
}

.your-nav {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}

.your-nav a {
  padding: 10px 0;
  margin: 0 15px;
  font-size: 1.133em;
  font-weight: 700;
  color: #757575;
}

.your-nav a.active {
  color: #FFFFFF;
}


/* container */
.your-container {
  max-width: 1196px;
  width: 100%;
  margin: 0 auto;
}

.your-container-sm {
  margin-left: 330px;
  margin-right: 56px;
}

/* footer */
.your-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

@font-face {
  font-family:'icomoon';
  src:url('../font/icomoon.ttf?3b2ao5') format('truetype');
  font-weight:normal;
  font-style:normal
}

/* button up */

.your-btn-up {
  right: 20px;
  bottom: 20px;
  position: fixed;
  width: 50px;
  height: 50px;
  /*display: none;*/
  color: #FFF;
  background-color: #1FA184;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  outline: none;
}

.icon-arrow-page-up {
  font-size: 32px;
  font-family: 'icomoon' !important;
}

.icon-arrow-page-up:before {
  content: "\e906";
}

/* svg */

#yourBgShape1, #yourBgShape2 {
  top: 0;
  position: fixed;
  z-index: -1;
}

#yourBgShape1 {
  left: 0;
}

#yourBgShape1 polygon {
  fill: #0F171B;
}

#yourBgShape2 {
  top: -100px;
  right: -100px;
}

#yourBgShape2 polygon {
  fill: #1FA184;
}
